@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <section style="height:80vh; margin-top:30vh">
        <div class="text-center">
            <h1 class="display-4">Hi!</h1>
            <h4>I'm Martyna Krzyżowska</h4>
            <h4>Junior Full Stack Developer</h4>
            <a href="#Projects"> <button type="button" class="btn btn-outline-primary">My Projects</button></a>
        </div>
    </section>

<section id="About" style="height:100vh">
    <div class="jumbotron">
        <h1 class="display-3">About Me</h1>
        <p class="lead">I am really ambitious person who just loves learning and discovering new things.
        <hr class="my-4">
        <p>I learned C++ and Python during my studies and I worked with them for about 2 years. In the meantime web development ...</p>
        <p>I worked as Frontend Developer.</p>
    </div>
</section>


<section id="Projects" style="min-height:90vh" >
    <h1>My Projects</h1>
    <div style="display: flex; flex-direction:row">
        <div class="card text-white bg-primary mb-3" style="width: 20rem; margin:1em">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin:1em">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin:1em">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin:1em">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</section>