@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hi!</h1>
    <h4>I'm Martyna Krzyżowska</h4>
    <h4>Junior Full Stack Developer</h4>
</div>
